@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@model HairSalon.Models.Stylist

<h2>Stylist Details</h2> 
<hr>
<h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>
<h4>@Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)</h4>

<h4>Clients</h4>
@if (Model.Clients.Count == 0)
{
  <p>@Html.DisplayFor(model => model.Name) currently has no clients.</p>
}
@foreach (Client client in Model.Clients)
{
  <p>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId})</p>
}
<br>
<br>
<button class="btn btn-info btn-lg">@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</button>
<button class="btn btn-info btn-lg">@Html.ActionLink("Remove Stylist", "Delete", new { id = Model.StylistId})</button>