@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Client

<h2>Client Details</h2>
<hr>
<p>@Html.DisplayNameFor(model => model.Name)</P><h3>@Html.DisplayFor(model => model.Name)</h3>
<p>@Html.DisplayNameFor(model => model.ContactInfo)</p><h3>@Html.DisplayFor(model => model.ContactInfo)<h3>
<br>
<br>
<button class="btn btn-info btn-lg">@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</button>
<button class="btn btn-info btn-lg">@Html.ActionLink("Remove Client", "Delete", new { id = Model.ClientId})</button>